.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    overflow: hidden;

    & p {
        margin: 0;
        position: absolute;
        opacity: 0.2;
        font-size: 2.5em;
        font-weight: 800;
        z-index: 0;
    }
}

.calculator {
    display: flex;
    flex-wrap: wrap;
    border-radius: 30px;
    background: #e9e9e9;
    box-shadow:  7px 7px 5px #bababa, 
                -7px -7px 5px #ffffff;
    max-width: 320px;
    max-height: 600px;
    padding: 40px 20px;
    font-size: 24px;
    overflow: hidden;
    background-color: #e9e9e9;
    z-index: 1;
    &__display {
        margin: 10px;
        display: flex;
        flex-direction: column;
        color: rgba(33, 36, 29, 0.568);
        width: 310px;
        height: 80px;
        text-align: end;
        margin-bottom:20px;
        border-radius: 20px;
        background: #e9e9e9;
        box-shadow: inset 7px 7px 5px #bababa, 
            inset -7px -7px 5px #ffffff;
    }
    &__display span {
        margin: 10px 20px;
        overflow: hidden;
    }
    &__eq {
        font-size: 16px;
    }
}